/* //PostContainer css */

div.header {
  display: flex;
  margin-bottom: 15px;
  text-align: left;
}

div.userName {
  text-align: left;
  margin-top: 14px;
  margin-left: -80px;
}

.thumbnail img {
  width: 30%;
  border: 1px solid transparent;
  border-radius: 30px;
}

.likes {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

.heart img {
  width: 5%;
}

.heart {
  text-align: left;
  margin-top: 10px;
}

.heart:hover {
  cursor: pointer;
}
